@import "../fonts/stylesheet.css";

body {
  font-family: "Museo Sans Cyrl 500";
  margin: 0;
  overflow: hidden;
}
.carousel-cell {
  height: 100vh;
  width: 100vw;
}
.main-carousel {
  height: 100vh;
}
.ctr-page {
  width: 100%;
  position: relative;
  height: 100%;
  background-color: #de3d46;
}
.ctr-page__video {
  height: 100%;
  width: 100%;
}
.ctr-page__play-button-wrapper {
  position: absolute;
  width: 70px;
  height: 70px;
  left: calc(50% - 70px/2);
  top: calc(50% - 70px/2);

  border-radius: 60px;
  background-color: #fff;
  box-shadow: 0 2px 2px #888888;
}
.ctr-page__play-button {
  outline: none;
  border: none;
  position: absolute;
  top: 15px;
  left: 17px;
  border-top: 20px solid transparent;
  background-color: rgba(255, 255, 255, 0);
  border-left: 40px solid #de3d46;
  border-bottom: 20px solid transparent;
}
.ctr-page__bg-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}
.ctr-page--initial .ctr-page__button-wrapper {
  width: 100%;
  z-index: 20;
  position: absolute;
  left: calc(50% - 176px);
  bottom: calc(272px / 2.25);
  width: 352px;
  height: 104px;
  display: block;
  background-color: transparent;
}
.ctr-page__button-wrapper .ctr-page__button {
  background-color: #de3d46;
  width: 100%;
  height: 100%;
  font-size: 48px;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  padding: 0;
  background-image: url("../images/btn-initial.svg");
  background-size: 100%;
}
.ctr-page__button-wrapper .ctr-page__button:hover {
  background-image: url("../images/btn-initial--active.svg");
  background-color: transparent;
}
.text-box {
  color: #fff;
  position: absolute;
}
.text-instructions {
  position: absolute;
  height: 145px;
  width: 1057px;
  left: 173px;
  top: 106px;
  font-family: "Museo Sans Cyrl 900";
  line-height: 48px;
  font-size: 40px;
}
.text-timer {
  position: absolute;
  height: 70px;
  width: 203px;
  left: 1542px;
  top: 78px;
  font-family: "Museo Sans Cyrl 900";
  line-height: 48px;
  font-size: 70px;
}
.text-serial {
  position: absolute;
  height: 70px;
  width: 600px;
  left: 170px;
  top: 330px;
  font-family: "Museo Sans Cyrl 900";
  line-height: 48px;
  font-size: 124px;
}

.flex-box {
  display: flex;
  left: 140px;
  top: 497px;
  width: calc(430px * 3 + 138 * 2);
  position: absolute;
  justify-content: space-around;
}
.flex-item {
  width: 500px;
  margin-right: 68px;
  /* border: 1px solid #fff; */
}
.flex-img-wrapper {
  height: 383px;
}
.flex-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.flex-btn {
  display: block;
  position: absolute;
  top: 367px;
  margin-left: auto;
  margin-right: auto;
  width: 430px;
  height: 96px;
  background-color: #de3d46;
  border: 4px solid #fff;
}
.btn-text {
  font-family: "Museo Sans Cyrl 500";
  line-height: 28px;
  font-size: 24px;
  color: #fff;
}
